
:root {
    --orange: #F68712;
    --lightblue: #3C93D6;
    --darkblue: #0075C3;
    --green: #00A63E;
    --lightgreen: #DEFCE9;
    --darkgreen: #006132;
    --red: #F44336;
}
.sidebar-collapsed {
    width: 64px;
    overflow: hidden;
}
.sidebar-collapsed .nav-text {
    display: none;
}
.sidebar-collapsed .logo-full {
    display: none;
}
.sidebar-collapsed .logo-icon {
    display: block;
}
.logo-icon {
    display: none;
}
