<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Al Akhdar Bank</title>
    <link rel="icon" th:href="@{/images/alakhdarbank-logo-V.png}" type="image/png">

    <!-- Google Fonts: Poppins -->
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">

    <!-- Tailwind CSS (CDN for dev only) -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>

    <!-- TailwindPlus Elements -->
    <script src="https://cdn.jsdelivr.net/npm/@tailwindplus/elements@1" type="module"></script>

    <!-- Flowbite CSS (for Flowbite components) -->
    <link href="https://unpkg.com/flowbite@latest/dist/flowbite.min.css" rel="stylesheet" />

    <!-- Flowbite JS (for interactive components) -->
    <script src="https://unpkg.com/flowbite@latest/dist/flowbite.min.js"></script>

    <!-- Simple Datatables -->
    <script src="https://cdn.jsdelivr.net/npm/simple-datatables@9.0.3"></script>

    <!-- Your custom styles -->
    <link rel="stylesheet" th:href="@{/css/style.css}" />

    <style>
        .font-poppins {
            font-family: 'Poppins', system-ui, Inter, sans-serif;
        }

        #filter-table input  {
            background-color: #f3f4f6;
            border: 1px solid #00A63E;
            border-radius: 0.5rem;
            padding: 0.625rem 2.5rem 0.625rem 2.5rem;
            font-size: 0.875rem;
            width: 100%;
            box-sizing: border-box;
            outline: none;
            transition: box-shadow 0.2s, border-color 0.2s;
            margin-bottom: 1.5rem;
        }

        .datatable-wrapper .datatable-input {
            border: 1px solid #00A63E;
            border-radius: 0.5rem;
            transition: box-shadow 0.2s, border-color 0.2s;
        }

        .datatable-wrapper .datatable-selector {
            border: 1px solid #00A63E;
            border-radius: 0.5rem;
        }

        #filter-table input:focus , .datatable-wrapper .datatable-input:focus , .datatable-wrapper .datatable-selector:focus {
            border: 1px solid #00A63E;
            box-shadow: 0 0 0 3px rgba(0, 166, 62, 0.4);
            outline: none;
        }
    </style>

</head>
<body class="font-poppins flex h-screen w-full bg-(--lightgreen)">

<!-- Sidebar -->
<div id="sidebar" class="w-64 bg-white shadow-lg transition-all duration-300">
    <!-- Logo -->
    <div class="p-1 border-b border-gray-200 flex justify-center items-center">
        <img th:src="@{/images/alakhdarbank-logo-H.png}" alt="Al Akhdar Bank Logo" class="h-16 w-auto">
    </div>

    <!-- Sidebar Navigation -->
    <nav class="p-4">
        <ul class="space-y-2">
            <li th:if="${isAdmin}">
                <a th:href="@{/users/list}"
                   class="flex items-center p-3 rounded-lg hover:bg-(--lightgreen) hover:text-(--darkgreen) text-gray-600">
                    <svg class="w-5 h-5 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z"/>
                    </svg>
                    <span>Utilisateurs</span>
                </a>
            </li>
            <li>
                <a th:href="@{/import}"
                   class="flex items-center p-3 rounded-lg bg-(--lightgreen) text-(--darkgreen) font-semibold">
                    <svg class="w-5 h-5 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>
                    </svg>
                    <span>Importer</span>
                </a>
            </li>
            <li>
                <a th:href="@{/history}"
                   class="flex items-center p-3 rounded-lg hover:bg-(--lightgreen) hover:text-(--darkgreen) text-gray-600">
                    <svg class="w-5 h-5 mr-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                         viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                              d="M12 8v4l3 3m6-3a9 9 0 11-18 0 9 9 0 0118 0z"/>
                    </svg>
                    <span>Historique</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

<!-- Main Content -->
<div class="flex-1 flex flex-col overflow-hidden">
    <!-- Top Bar -->
    <header class="bg-white shadow-sm">
        <div class="flex items-center justify-end p-4">
            <div class="flex items-center space-x-4">
                <div class="relative">
                    <button id="user-menu-button"
                            class="h-10 w-10 rounded-full bg-gray-600 flex items-center justify-center text-white cursor-pointer"
                            th:text="${initials}">
                            <!-- AU -->
                    </button>
                    <span class="bottom-0 left-7 absolute  w-3.5 h-3.5 bg-green-400 border-2 border-white rounded-full"></span>
                    <div id="user-menu"
                         class="hidden absolute right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-1 z-50">
                        <div class="px-4 py-3 border-b border-gray-100">
                            <p class="text-sm font-semibold text-(--darkgreen)" th:text="${username}">
                                <!-- Admin User -->
                            </p>
                            <p class="text-sm text-gray-600 truncate" th:text="${email}">
                                <!-- admin@gmail.com -->
                            </p>
                        </div>
                        <button command="show-modal" commandfor="dialog"
                                class="block w-full text-left px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 cursor-pointer">
                            Profil
                        </button>

                        <form th:action="@{/logout}" method="post" class="w-full">
                            <button type="submit" class="block w-full text-left px-4 py-2 text-sm text-red-600 hover:bg-red-50 cursor-pointer">
                                Déconnexion
                            </button>
                        </form>

                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Page Content -->
    <main class="flex-1 overflow-y-auto p-8">

        <!-- Success Alert -->
        <div id="alert-border-success" th:if="${successMessage}" class="flex items-center p-4 mb-4 text-white border-l-4 border-green-400 bg-green-300 rounded-lg shadow-lg" role="alert">
            <!-- Icon of Success -->
            <div class="flex-shrink-0 w-6 h-6 bg-white rounded-full flex items-center justify-center">
                <svg class="w-4 h-4 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 12">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M1 5.917 5.724 10.5 15 1.5"/>
                </svg>
            </div>

            <div class="ms-3 text-sm font-medium text-(--darkgreen) font-semibold" th:text="${successMessage}">
            </div>

            <!-- Button of close -->
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-green-300 text-(--darkgreen) rounded-lg focus:ring-2 focus:ring-green-400 p-1.5 hover:bg-green-400 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#alert-border-success" aria-label="Close">
                <span class="sr-only">Fermer</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        </div>

        <!-- Danger Alert -->
        <div id="alert-border-danger" th:if="${errorMessage}" class="flex items-center p-4 mb-4 text-white border-l-4 border-red-400 bg-red-300 rounded-lg shadow-lg" role="alert">
            <!-- Icon of danger -->
            <div class="flex-shrink-0 w-6 h-6 bg-white rounded-full flex items-center justify-center">
                <svg class="w-4 h-4 text-red-600" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 16 16">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 1.333A6.667 6.667 0 1 1 1.333 8 6.667 6.667 0 0 1 8 1.333Zm0 3.334v3.333m0 2.667h.007"/>
                </svg>
            </div>

            <div class="ms-3 text-sm font-medium text-red-800 font-semibold" th:text="${errorMessage}">
            </div>

            <!-- Button of close -->
            <button type="button" class="ms-auto -mx-1.5 -my-1.5 bg-red-300 text-red-800 rounded-lg focus:ring-2 focus:ring-red-400 p-1.5 hover:bg-red-400 inline-flex items-center justify-center h-8 w-8" data-dismiss-target="#alert-border-danger" aria-label="Close">
                <span class="sr-only">Fermer</span>
                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                </svg>
            </button>
        </div>

        <!-- Import Section -->
        <div id="import-page" class="w-full bg-white rounded-lg shadow-xl p-8">
            <!-- Page Title -->
            <div class="flex items-center space-x-4 mb-8">
                <svg class="w-7 h-7 text-(--darkgreen)" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                     fill="none" viewBox="0 0 24 24" stroke="currentColor">
                    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                          d="M9 8h6m-6 4h6m-6 4h6M7 8v10a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V8M7 8V6a2 2 0 0 1 2-2h6a2 2 0 0 1 2 2v2"/>
                </svg>
                <h2 class="text-2xl font-bold text-(--darkgreen)">Importer un fichier</h2>
            </div>

            <!-- Tabs Navigation -->
            <div class="border-b border-gray-200 mb-8">
                <ul class="flex flex-wrap -mb-px text-sm font-medium text-center">
                    <li class="me-2">
                        <a th:href="@{/import}"
                           class="inline-block p-4 border-b-2 border-(--darkgreen) text-(--darkgreen) rounded-t-lg active font-bold">Importer</a>
                    </li>
                    <li class="me-2">
                        <a th:href="@{/history}"
                           class="inline-block p-4 text-gray-600 border-b-2 border-text-gray-600 hover:text-(--darkgreen) hover:border-(--darkgreen) rounded-t-lg">Historique</a>
                    </li>
                </ul>
            </div>

            <!-- Import Form -->
            <form method="POST" th:action="@{/uploads}" enctype="multipart/form-data" th:object="${fichier}">

                <!-- token CSRF -->
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />

                <div class="mb-8">
                    <div class="border-2 border-dashed border-(--darkgreen) rounded-lg p-8 text-center mb-4 bg-gray-100">

                        <svg class="w-12 h-12 mx-auto text-(--darkgreen) mb-4" aria-hidden="true"
                             xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                  d="M7 16a4 4 0 01-.88-7.903A5 5 0 1115.9 6L16 6a5 5 0 011 9.9M15 13l-3-3m0 0l-3 3m3-3v12"/>
                        </svg>

                        <p class="text-gray-600 mb-2">Cliquez pour choisir un fichier ou déposez-le ici</p>
                        <p class="text-sm text-gray-500 mb-4">Formats supportés: .csv, .xlsx, .txt</p>

                        <!-- input file hidden -->
                        <input type="file" name="fichier" class="hidden" id="file-upload">

                        <!-- label for file input -->
                        <label for="file-upload"
                               class="cursor-pointer text-(--darkgreen) hover:text-white border border-(--darkgreen) hover:bg-(--darkgreen) font-medium rounded-lg text-sm px-5 py-2.5 text-center me-2 mb-2">
                            Sélectionner un fichier
                        </label>
                    </div>
                </div>

                <!-- button of submitting -->
                <div class="mt-4 flex justify-center">
                    <button type="submit" class="cursor-pointer px-4 py-2 bg-(--darkgreen) text-white rounded-lg hover:bg-(--darkgreen)/90 mb-4">
                        Importer
                    </button>
                </div>
            </form>

            <!-- Data Table Section -->
            <table id="filter-table">
                <thead>
                <tr>
                    <th>
                            <span class="flex items-center text-(--darkgreen)/80 hover:text-(--darkgreen)">
                                CODE ERREUR
                                <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                                </svg>
                            </span>
                    </th>
                    <th>
                            <span class="flex items-center text-(--darkgreen)/80 hover:text-(--darkgreen)">
                                Numéro de compte
                                <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                                </svg>
                            </span>
                    </th>
                    <th>
                            <span class="flex items-center text-(--darkgreen)/80 hover:text-(--darkgreen)">
                                Description
                                <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                                </svg>
                            </span>
                    </th>
                    <th>
                            <span class="flex items-center text-(--darkgreen)/80 hover:text-(--darkgreen)">
                                Gravité de l'erreur
                                <svg class="w-4 h-4 ms-1" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                     width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                          stroke-width="2" d="m8 15 4 4 4-4m0-6-4-4-4 4"/>
                                </svg>
                            </span>
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="map : ${lignes}">
                    <th:block th:each="entry : ${map.entrySet()}">
                        <td th:text="${entry != null ? entry.value.getCode() : 'N/A'}"></td>
                        <td th:text="${entry != null ? entry.key : 'N/A'}"></td>
                        <td th:text="${entry != null ? entry.value.getDescription() : 'N/A'}"></td>
                        <td>
                            <span
                                    th:with="severity=${entry != null ? entry.value.getSeverity() : null}"
                                    th:class="${'px-2 py-1 rounded whitespace-nowrap text-xs font-medium'} + ' ' +
                                        ${severity == 'A' ? 'bg-blue-100 text-blue-800' :
                                        severity == 'E' ? 'bg-orange-100 text-orange-800' :
                                        severity == 'L' ? 'bg-red-100 text-red-800' :
                                        severity == 'Z' ? 'bg-yellow-100 text-yellow-800' : ''}"
                                    th:text="${severity == 'A' ? 'Avertissement (A)' :
                                        severity == 'E' ? 'Enregistrement rejeté (E)' :
                                        severity == 'L' ? 'Lot rejeté (L)' :
                                        severity == 'Z' ? 'Zone ignorée (Z)' : 'N/A'}"
                            >
                            </span>
                        </td>
                    </th:block>
                </tr>


                </tbody>
            </table>

        </div>

        <!-- Profile Modal Dialog (Hidden by default) -->
        <el-dialog>
            <dialog id="dialog" aria-labelledby="dialog-title"
                    class="fixed inset-0 size-auto max-h-none max-w-none overflow-y-auto bg-transparent backdrop:bg-transparent">
                <el-dialog-backdrop
                        class="fixed inset-0 bg-gray-500/75 transition-opacity data-closed:opacity-0 data-enter:duration-700 data-enter:ease-out data-leave:duration-200 data-leave:ease-in"></el-dialog-backdrop>
                <div tabindex="0"
                     class="flex min-h-full items-end justify-center p-4 text-center focus:outline-none sm:items-center sm:p-0">
                    <el-dialog-panel
                            class="relative transform overflow-hidden rounded-lg bg-white text-left shadow-xl transition-all data-closed:translate-y-4 data-closed:opacity-0 data-enter:duration-300 data-enter:ease-out data-leave:duration-200 data-leave:ease-in sm:my-8 sm:w-full sm:max-w-md data-closed:sm:translate-y-0 data-closed:sm:scale-95">
                        <!-- Close button -->
                        <button type="button" command="close" commandfor="dialog"
                                class="cursor-pointer absolute top-4 right-4 text-gray-400 hover:text-gray-600 focus:outline-none focus:ring-2 focus:ring-gray-500 focus:ring-offset-2 rounded-full p-1">
                            <span class="sr-only">Close</span>
                            <svg class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                                 stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"/>
                            </svg>
                        </button>

                        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
                            <div class="flex justify-between items-center mb-4">
                                <h3 class="text-xl font-bold text-(--darkgreen)">Profil</h3>
                            </div>

                            <div class="space-y-4">
                                <div class="flex flex-col items-center relative">
                                    <div class="h-20 w-20 rounded-full bg-gray-600 flex items-center justify-center text-white text-2xl mb-4"
                                         th:text="${initials}">
                                        <!-- AU -->
                                    </div>
                                    <h4 class="text-lg font-semibold" th:text="${username}">
                                        <!-- Admin User -->
                                    </h4>
                                    <p class="text-gray-600" th:text="${email}">
                                        <!-- admin@example.com -->
                                    </p>
                                    <span class="mt-2 px-3 py-1 bg-green-100 text-(--darkgreen) text-xs font-medium rounded-full flex items-center">
                                        <span class="w-2 h-2 bg-green-400 rounded-full mr-2"></span>
                                        En ligne
                                    </span>
                                </div>

                                <div class="border-t border-gray-200 pt-4">
                                    <div class="mb-3">
                                        <p class="text-sm text-gray-500">Rôle</p>
                                        <p class="font-medium" th:text="${isAdmin} ? 'Administrateur' : 'Utilisateur'">
                                            <!-- Administrateur -->
                                        </p>
                                    </div>
                                    <div class="mb-3">
                                        <p class="text-sm text-gray-500">Date de création</p>
                                        <p class="font-medium">15/07/2025</p>
                                    </div>
                                    <div>
                                        <p class="text-sm text-gray-500">Dernière connexion</p>
                                        <p class="font-medium">Aujourd'hui, 14:32</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <form th:action="@{/logout}" method="post" class="bg-gray-100 px-4 py-3 sm:flex sm:justify-center sm:px-6">
                            <button type="submit"
                                    class="cursor-pointer inline-flex justify-center rounded-md bg-red-600 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-red-500 w-auto">
                                Se déconnecter
                            </button>
                        </form>
                    </el-dialog-panel>
                </div>
            </dialog>
        </el-dialog>
    </main>
</div>

<script>

    if (document.getElementById("filter-table") && typeof simpleDatatables.DataTable !== 'undefined') {
        const dataTable = new simpleDatatables.DataTable("#filter-table", {
            tableRender: (_data, table, type) => {
                if (type === "print") {
                    return table
                }
                const tHead = table.childNodes[0]
                const filterHeaders = {
                    nodeName: "TR",
                    attributes: {
                        class: "search-filtering-row"
                    },
                    childNodes: tHead.childNodes[0].childNodes.map(
                        (_th, index) => ({
                            nodeName: "TH",
                            childNodes: [
                                {
                                    nodeName: "INPUT",
                                    attributes: {
                                        class: "datatable-input",
                                        type: "search",
                                        "data-columns": "[" + index + "]"
                                    }
                                }
                            ]
                        })
                    )
                }
                tHead.childNodes.push(filterHeaders)
                return table
            }
        });
    }

    // User menu toggle
    document.getElementById('user-menu-button').addEventListener('click', function (e) {
        e.stopPropagation();
        document.getElementById('user-menu').classList.toggle('hidden');
    });

    // Close user menu when clicking outside
    document.addEventListener('click', function () {
        document.getElementById('user-menu').classList.add('hidden');
    });
</script>

</body>
</html>